body{
    background: #eee;
    color: #333;
    font-family: sans-serif;
    font-size:15px;
   }
   #wrapper{
    background: #fff;
    width: 1100px;
    margin: 20px auto;
   }
   #wrapper header{
    background: #11daab;
    padding: 20px;
   }
   #wrapper header hgroup{
    float: left;
    color: #fff;
   }
   #wrapper header nav{

    float: right;
    margin-top: 50px;
   }
   #wrapper header nav ul{
    padding: 0;
    margin: 0;
   }
   #wrapper header nav ul li{
    float: left;
    list-style: none;
   }
   #wrapper header nav ul li a{
    padding: 15px;
    color: #fff;
    text-decoration: none;
   }
   .clear{
    clear: both;
   }
   footer{
    background: #11daab;
    padding: 20px;
   }
   footer a li{
    color: #fff;
    text-decoration: none;
   }
   
   section{
    padding: 20px;
   }

   .web1 {
    background-color: #199319;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
  }
  
  .web1:hover {
    background-color: #223094;
  }
